<!DOCTYPE html>
<html>
<head>
  <title>WeDB</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="WeDBApp">
  <div class="wrapper">
    <!-- Page Header -->
    <div class="we-nav container nav-wrapper">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <%= link_to "WeDb", {controller: "home", action: "index"}, class: "navbar-brand #{cp({controller: "home", action: "index"})}" %>
          </div>
          
          <!-- Nav Items -->
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right we-header-nav">
              <li><%= link_to "Beta", {controller: "home", action: "beta"}, class: "#{cp({controller: "home", action: "beta"})}" %></li>
            </ul>
          </div>
      
        </div>
      </nav>
    </div>
    
    <!--Page Body-->
    <div class="we-body container">
      <%= yield %>
    </div>

  </div>
</body>
</html>
